/* popup-wrapper */
.popup-content {
  width: 50%;
  max-height: 85%;
}

.popup-content p {
  height: 140px;
}


/* title-wrapper */
.title-wrapper h2 {
  font-size: 56px;
}


/* color-populate */
#color-populate {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 8px;
  text-align: center;
}

#color-populate span {
  height: 140px;
}

/* #color-populate p {
  margin-left: 400px;
} */
